@import url(https://fonts.googleapis.com/css?family=Montserrat:600,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Inter:regular,600,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-chevron-right:before {
  content: "\e900";
}

._icon-download-cloud:before {
  content: "\e901";
}

:root {
  --primary: #0a9396;
  --secondary: #94d2bd;
  --accent: #0090c1;
  --inverse: #ffff3f;
  --bg-primary: #383863;
  --bg-secondary: #4a4a79;
  --bg-accent: #4cc9f0;
  --bg-first-accent: #eeeeff;
  --bg-second-accent: #eefeff;
  --bg-third-accent: #f8f9fe;
  --bg-fourth-accent: #fff8f2;
  --bg-inverse: #2d00f7;
  --bg-first-btn-accent: #8b8bdb;
  --bg-fourth-btn-download-accent: #d69762;
  --bg-fourth-btn-accent: #ab9d91;
  --text-primary: #000000;
  --text-secondary: #444444;
  --text-accent: #e8eddf;
  --text-first-accent: #6262b0;
  --text-second-accent: #62888a;
  --text-fourth-accent: #b87f4e;
  --text-inverse: #e8eddf;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Inter";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Inter";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.125rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #fff;
  padding: 40px;
  width: 100%;
  max-width: 570px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.popup__form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.popup__btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  margin-top: 1rem;
}

.form__label {
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
}

.form__input {
  border-radius: 12px;
  border: 1px solid #e2e2e9;
  background: #fff;
  min-height: 3.25rem;
  padding: 1rem 1.25rem;
  color: var(--text-secondary);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  /* 125% */
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__input._form-error {
  border: 1px solid #bf4040;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form__error {
  color: #bf4040;
  font-size: 16px;
  line-height: 20px;
  /* 125% */
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg--contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.h1-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.0625rem;
  text-transform: uppercase;
}

.h2-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.h3-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
}

.h3-title-links {
  font-weight: 600;
}

.subtitle-text {
  font-size: 32px;
}

.subtitle-text span {
  font-weight: 600;
}

.row-boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row-boxs__item {
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 29%;
          flex: 1 0 29%;
}

.row-boxs__item_lh > :last-child {
  margin-top: 1.5rem;
}

.row-boxs__item-text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

.row-boxs__item-text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  color: var(--text-secondary);
  font-weight: 400;
}

.row-boxs__item-link-go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-boxs__item-text-go {
  position: relative;
  color: #8e93a7;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.row-boxs__item-text-go::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #8e93a7;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.row-boxs__item-icon-go {
  color: #8e93a7;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.row-boxs__item-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
}

.row-boxs__item-image {
  height: 3.5rem;
}

.row-boxs__item-image img {
  height: 3.5rem;
}

.row-boxs__item-image-ibg {
  height: 3rem;
  width: 3rem;
}

.row-boxs__item-email {
  color: var(--text-secondary);
  font-size: 1.125rem;
  line-height: 1.3333333333;
  text-decoration-line: underline;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.row-boxs__item-phone {
  color: var(--text-secondary);
  font-size: 1.125rem;
  line-height: 1.3333333333;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.row-boxs__item-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.row-boxs__item-link-text {
  line-height: 24px;
  /* 133.333% */
  text-decoration-line: underline;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.row-boxs__item-link-icon {
  font-size: 1.5rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.box-item__first-accent {
  background-color: var(--bg-first-accent);
}

.box-item__first-accent .row-boxs__item-title {
  color: var(--text-first-accent);
}

.box-item__first-accent .row-boxs__item-btn {
  background-color: var(--bg-first-btn-accent);
}

.box-item__first-accent .main-btn__text {
  color: #fff;
}

.box-item__second-accent {
  background-color: var(--bg-second-accent);
}

.box-item__second-accent .row-boxs__item-title {
  color: var(--text-second-accent);
}

.box-item__third-accent {
  background-color: var(--bg-third-accent);
}

.box-item__fourth-accent {
  background-color: var(--bg-fourth-accent);
}

.box-item__fourth-accent .row-boxs__item-title {
  color: var(--text-fourth-accent);
}

.box-item__fourth-accent .row-boxs__item-btn {
  background-color: var(--bg-fourth-btn-accent);
}

.box-item__fourth-accent .main-btn_download {
  background-color: var(--bg-fourth-btn-download-accent);
}

.box-item__fourth-accent .main-btn__text {
  color: #fff;
}

.box-item__fourth-accent .main-btn__icon {
  color: #fff;
}

.box-item__fifth-accent {
  background-color: #fff;
}

.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 16px;
  gap: 0.75rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.main-btn__text {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-btn__icon {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.close-btn {
  background-color: #f3f4fc;
  text-align: center;
  width: 100%;
  line-height: 24px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.submit-btn {
  background-color: #383863;
  color: #fff;
  text-align: center;
  width: 100%;
  line-height: 24px;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.header__logo {
  position: relative;
  z-index: 4;
}

.header__logo img {
  position: relative;
  bottom: 7.5px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.menu__icon {
  left: 0.125rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  gap: 2rem;
}

.menu__link {
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  color: #777;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.menu__body-link-static {
  position: relative;
  z-index: 3;
  background-color: #f3f4fc;
  color: var(--text-primary);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.icon-menu {
  display: none;
}

.develops__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.platform {
  background-color: var(--bg-primary);
}

.platform__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.platform__title {
  color: #fff;
  margin-bottom: 1.0625rem;
}

.platform__subtitle {
  color: #fff;
}

.platform__text-box :not(:last-child) {
  margin-bottom: 1rem;
}

.platform__text {
  color: #fff;
}

.platform__text span {
  font-weight: 700;
}

.row-platform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-platform__item {
  max-width: 16.875rem;
  background-color: var(--bg-secondary);
  border-radius: 24px;
  gap: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.row-platform__title {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.4;
  font-weight: 600;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.row-platform__btn {
  background-color: #5d5d90;
}

.row-platform__btn .main-btn__text {
  color: #c4c4f5;
}

.row-platform__btn .main-btn__icon {
  color: #c4c4f5;
}

.info-row-boxs__row > :nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 57.2%;
          flex: 0 0 57.2%;
}

.company__text-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.company__row-info {
  margin-top: 2.5rem;
}

.stay-tuned {
  background-color: var(--bg-third-accent);
}

@media (min-width: 61.9375em) {
  .header__logo img {
    width: 10.625rem;
  }
}

@media (min-width: 61.99875em) {
  .menu__link:after {
    content: "";
    display: block;
    margin-top: -1px;
    height: 2px;
    width: 100%;
    background: #777;
    -webkit-transition: width 0.5s ease, background-color 0.3s ease;
    transition: width 0.5s ease, background-color 0.3s ease;
  }
}

@media (min-width: 61.99875em) and (any-hover: hover) {
  .menu__link {
    position: relative;
  }

  .menu__link:hover {
    color: #383863;
  }

  .menu__link:hover:after {
    background: #383863;
  }
}

@media (min-width: 76.125em) {
  .h1-title {
    font-size: 5.5rem;
  }

  .h1-title {
    line-height: 6rem;
  }

  .h2-title {
    font-size: 2.5rem;
  }

  .h2-title {
    line-height: 3rem;
  }

  .h3-title {
    font-size: 1.25rem;
  }

  .h3-title {
    line-height: 1.75rem;
  }

  .h3-title-links {
    font-size: 1.25rem;
  }

  .h3-title-links {
    line-height: 1.75rem;
  }

  .subtitle-text {
    font-size: 2rem;
  }

  .subtitle-text {
    line-height: 3rem;
  }

  .row-boxs {
    gap: 1.875rem;
  }

  .row-boxs__item {
    padding: 2rem;
  }

  .row-boxs__item {
    gap: 1.25rem;
  }

  .row-boxs__item-subtitle {
    font-size: 1.25rem;
  }

  .row-boxs__item-subtitle {
    line-height: 1.75rem;
  }

  .row-boxs__item-text {
    font-size: 1.25rem;
  }

  .row-boxs__item-text {
    line-height: 1.75rem;
  }

  .row-boxs__item-text_info {
    font-size: 1.125rem;
  }

  .row-boxs__item-text_info {
    line-height: 1.5rem;
  }

  .row-boxs__item-text-go {
    font-size: 1.25rem;
  }

  .row-boxs__item-text-go {
    line-height: 1.5rem;
  }

  .row-boxs__item-icon-go {
    font-size: 1.5rem;
  }

  .main-btn {
    padding-top: 0.75rem;
  }

  .main-btn {
    padding-bottom: 0.75rem;
  }

  .main-btn {
    padding-right: 1.25rem;
  }

  .main-btn {
    padding-left: 1.25rem;
  }

  .main-btn {
    border-radius: 1rem;
  }

  .main-btn_w {
    padding-right: 0.9375rem;
  }

  .main-btn_w {
    padding-left: 0.9375rem;
  }

  .main-btn__text {
    font-size: 1.25rem;
  }

  .main-btn__text {
    line-height: 1.5rem;
  }

  .main-btn__icon {
    font-size: 1.5rem;
  }

  .close-btn {
    padding-top: 0.75rem;
  }

  .close-btn {
    padding-bottom: 0.75rem;
  }

  .close-btn {
    padding-right: 1.25rem;
  }

  .close-btn {
    padding-left: 1.25rem;
  }

  .close-btn {
    border-radius: 1rem;
  }

  .submit-btn {
    padding-top: 0.75rem;
  }

  .submit-btn {
    padding-bottom: 0.75rem;
  }

  .submit-btn {
    padding-right: 1.25rem;
  }

  .submit-btn {
    padding-left: 1.25rem;
  }

  .submit-btn {
    border-radius: 1rem;
  }

  .header {
    padding-top: 5rem;
  }

  .header {
    padding-bottom: 7.5rem;
  }

  .menu__body-link-static {
    font-size: 1.25rem;
  }

  .menu__body-link-static {
    line-height: 1.5rem;
  }

  .menu__body-link-static {
    padding-top: 0.75rem;
  }

  .menu__body-link-static {
    padding-bottom: 0.75rem;
  }

  .menu__body-link-static {
    padding-right: 1.25rem;
  }

  .menu__body-link-static {
    padding-left: 1.25rem;
  }

  .menu__body-link-static {
    border-radius: 1rem;
  }

  .develops {
    padding-bottom: 7.5rem;
  }

  .develops__content {
    gap: 3rem;
  }

  .platform {
    padding-top: 7.5rem;
  }

  .platform {
    padding-bottom: 7.5rem;
  }

  .platform {
    margin-bottom: 7.5rem;
  }

  .platform__subtitle {
    margin-bottom: 2.4375rem;
  }

  .platform__text-box {
    margin-bottom: 2.5rem;
  }

  .platform__text {
    font-size: 1.25rem;
  }

  .platform__text {
    line-height: 1.75rem;
  }

  .row-platform {
    gap: 1.875rem;
  }

  .row-platform__item {
    padding: 2rem;
  }

  .info-row-boxs {
    margin-bottom: 7.5rem;
  }

  .company {
    margin-bottom: 7.5rem;
  }

  .company__text {
    font-size: 1.25rem;
  }

  .company__text {
    line-height: 1.75rem;
  }

  .stay-tuned {
    padding-top: 7.5rem;
  }

  .stay-tuned {
    padding-bottom: 7.5rem;
  }

  .stay-tuned__row-info {
    margin-top: 2.5rem;
  }
}

@media (max-width: 61.99875em) {
  .row-boxs {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .header__logo {
    position: absolute;
    margin-left: 3.125rem;
  }

  .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    padding: 0.75rem 0;
  }

  .menu__body {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 3;
    width: 100%;
    height: 100%;
    overflow: auto;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fff;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu__list {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__link {
    color: var(--text-primary);
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
    text-decoration-line: underline;
    text-transform: uppercase;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.25rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.25rem;
    border-radius: 2px;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.125rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.125rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.125rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .info-row-boxs__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 61.99875em) and (max-width: 29.99875em) {
  .icon-menu {
    width: 1.25rem;
    height: 0.875rem;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    height: 0.125rem;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 61.99875em) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 47.99875em) {
  .row-boxs__item-btns {
    gap: 1rem;
  }

  .platform__text span {
    font-weight: 400;
  }

  .row-platform__item {
    gap: 1rem;
    min-width: 100%;
  }

  .row-platform__title {
    font-family: Montserrat;
    font-size: 1rem;
    line-height: 1.5;
    text-transform: uppercase;
  }

  .company__text-box {
    gap: 1.25rem;
  }

  .company__row-info {
    margin-top: 1.25rem;
  }
}

@media (max-width: 41.25em) {
  .row-boxs__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
}

@media (max-width: 35.625em) {
  .info-row-boxs__row .row-boxs__item-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 29.99875em) {
  .popup__content {
    padding: 24px;
  }

  .popup__form .close-btn {
    font-size: 16px;
    line-height: 20px;
  }

  .popup__form .submit-btn {
    font-size: 16px;
    line-height: 20px;
  }

  .popup__form-item {
    gap: 0.75rem;
  }

  .popup__btns {
    margin-top: 0;
    gap: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__label {
    font-size: 14px;
  }

  .form__input {
    padding: 0.5rem 0.75rem;
    font-size: 14px;
  }

  .form__error {
    font-size: 14px;
  }

  .row-boxs__item-email {
    font-size: 0.875rem;
    line-height: 1.4285714286;
  }

  .row-boxs__item-phone {
    font-size: 0.875rem;
    line-height: 1.4285714286;
  }

  .row-boxs__item-link-text {
    font-size: 0.875rem;
    line-height: 1.4285714286;
  }

  .header__logo img {
    bottom: 3px;
  }

  .header__logo {
    margin-left: 2.25rem;
  }
}

@media (max-width: 24.375em) {
  .h1-title {
    font-size: 1.75rem;
  }

  .h1-title {
    line-height: 2rem;
  }

  .h2-title {
    font-size: 1.5rem;
  }

  .h2-title {
    line-height: 1.75rem;
  }

  .h3-title {
    font-size: 1rem;
  }

  .h3-title {
    line-height: 1.5rem;
  }

  .h3-title-links {
    font-size: 1rem;
  }

  .h3-title-links {
    line-height: 1.5rem;
  }

  .subtitle-text {
    font-size: 1rem;
  }

  .subtitle-text {
    line-height: 1.5rem;
  }

  .row-boxs {
    gap: 1rem;
  }

  .row-boxs__item {
    padding: 1.5rem;
  }

  .row-boxs__item {
    gap: 1rem;
  }

  .row-boxs__item-subtitle {
    font-size: 1rem;
  }

  .row-boxs__item-subtitle {
    line-height: 1.5rem;
  }

  .row-boxs__item-text {
    font-size: 0.875rem;
  }

  .row-boxs__item-text {
    line-height: 1.25rem;
  }

  .row-boxs__item-text_info {
    font-size: 0.875rem;
  }

  .row-boxs__item-text_info {
    line-height: 1.25rem;
  }

  .row-boxs__item-text-go {
    font-size: 0.875rem;
  }

  .row-boxs__item-text-go {
    line-height: 1.25rem;
  }

  .row-boxs__item-icon-go {
    font-size: 1.25rem;
  }

  .main-btn {
    padding-top: 0.5rem;
  }

  .main-btn {
    padding-bottom: 0.5rem;
  }

  .main-btn {
    padding-right: 1rem;
  }

  .main-btn {
    padding-left: 1rem;
  }

  .main-btn {
    border-radius: 0.75rem;
  }

  .main-btn_w {
    padding-right: 0.625rem;
  }

  .main-btn_w {
    padding-left: 0.625rem;
  }

  .main-btn__text {
    font-size: 1rem;
  }

  .main-btn__text {
    line-height: 1.25rem;
  }

  .main-btn__icon {
    font-size: 1.25rem;
  }

  .close-btn {
    padding-top: 0.5rem;
  }

  .close-btn {
    padding-bottom: 0.5rem;
  }

  .close-btn {
    padding-right: 1rem;
  }

  .close-btn {
    padding-left: 1rem;
  }

  .close-btn {
    border-radius: 0.75rem;
  }

  .submit-btn {
    padding-top: 0.5rem;
  }

  .submit-btn {
    padding-bottom: 0.5rem;
  }

  .submit-btn {
    padding-right: 1rem;
  }

  .submit-btn {
    padding-left: 1rem;
  }

  .submit-btn {
    border-radius: 0.75rem;
  }

  .header {
    padding-top: 1.5rem;
  }

  .header {
    padding-bottom: 1.5rem;
  }

  .header__logo img {
    width: 5.8125rem;
  }

  .menu__body-link-static {
    font-size: 1rem;
  }

  .menu__body-link-static {
    line-height: 1.25rem;
  }

  .menu__body-link-static {
    padding-top: 0.5rem;
  }

  .menu__body-link-static {
    padding-bottom: 0.5rem;
  }

  .menu__body-link-static {
    padding-right: 1rem;
  }

  .menu__body-link-static {
    padding-left: 1rem;
  }

  .menu__body-link-static {
    border-radius: 0.75rem;
  }

  .develops {
    padding-bottom: 1.5rem;
  }

  .develops__content {
    gap: 1rem;
  }

  .platform {
    padding-top: 1.5rem;
  }

  .platform {
    padding-bottom: 1.5rem;
  }

  .platform {
    margin-bottom: 1.5rem;
  }

  .platform__subtitle {
    margin-bottom: 1rem;
  }

  .platform__text-box {
    margin-bottom: 1rem;
  }

  .platform__text {
    font-size: 0.875rem;
  }

  .platform__text {
    line-height: 1.25rem;
  }

  .row-platform {
    gap: 1rem;
  }

  .row-platform__item {
    padding: 1.5rem;
  }

  .info-row-boxs {
    margin-bottom: 1.5rem;
  }

  .company {
    margin-bottom: 1.5rem;
  }

  .company__text {
    font-size: 1rem;
  }

  .company__text {
    line-height: 1.5rem;
  }

  .stay-tuned {
    padding-top: 1.5rem;
  }

  .stay-tuned {
    padding-bottom: 1.5rem;
  }

  .stay-tuned__row-info {
    margin-top: 1rem;
  }
}

@media (max-width: 21.875em) {
  .menu__body-link-static {
    font-size: 0.875rem;
  }
}

@media (min-width: 24.375em) and (max-width: 76.125em) {
@supports (font-size: clamp( 1.75rem , -0.0163043478rem  +  7.2463768116vw , 5.5rem )) {
    .h1-title {
      font-size: clamp( 1.75rem , -0.0163043478rem  +  7.2463768116vw , 5.5rem );
    }
}

@supports not (font-size: clamp( 1.75rem , -0.0163043478rem  +  7.2463768116vw , 5.5rem )) {
    .h1-title {
      font-size: calc(1.75rem + 3.75 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 2rem , 0.115942029rem  +  7.729468599vw , 6rem )) {
    .h1-title {
      line-height: clamp( 2rem , 0.115942029rem  +  7.729468599vw , 6rem );
    }
}

@supports not (line-height: clamp( 2rem , 0.115942029rem  +  7.729468599vw , 6rem )) {
    .h1-title {
      line-height: calc(2rem + 4 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 1.5rem , 1.0289855072rem  +  1.9323671498vw , 2.5rem )) {
    .h2-title {
      font-size: clamp( 1.5rem , 1.0289855072rem  +  1.9323671498vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.5rem , 1.0289855072rem  +  1.9323671498vw , 2.5rem )) {
    .h2-title {
      font-size: calc(1.5rem + 1 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 1.75rem , 1.1612318841rem  +  2.4154589372vw , 3rem )) {
    .h2-title {
      line-height: clamp( 1.75rem , 1.1612318841rem  +  2.4154589372vw , 3rem );
    }
}

@supports not (line-height: clamp( 1.75rem , 1.1612318841rem  +  2.4154589372vw , 3rem )) {
    .h2-title {
      line-height: calc(1.75rem + 1.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .h3-title {
      font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .h3-title {
      font-size: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 1.5rem , 1.3822463768rem  +  0.4830917874vw , 1.75rem )) {
    .h3-title {
      line-height: clamp( 1.5rem , 1.3822463768rem  +  0.4830917874vw , 1.75rem );
    }
}

@supports not (line-height: clamp( 1.5rem , 1.3822463768rem  +  0.4830917874vw , 1.75rem )) {
    .h3-title {
      line-height: calc(1.5rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .h3-title-links {
      font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .h3-title-links {
      font-size: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 1.5rem , 1.3822463768rem  +  0.4830917874vw , 1.75rem )) {
    .h3-title-links {
      line-height: clamp( 1.5rem , 1.3822463768rem  +  0.4830917874vw , 1.75rem );
    }
}

@supports not (line-height: clamp( 1.5rem , 1.3822463768rem  +  0.4830917874vw , 1.75rem )) {
    .h3-title-links {
      line-height: calc(1.5rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 1rem , 0.5289855072rem  +  1.9323671498vw , 2rem )) {
    .subtitle-text {
      font-size: clamp( 1rem , 0.5289855072rem  +  1.9323671498vw , 2rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.5289855072rem  +  1.9323671498vw , 2rem )) {
    .subtitle-text {
      font-size: calc(1rem + 1 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 1.5rem , 0.7934782609rem  +  2.8985507246vw , 3rem )) {
    .subtitle-text {
      line-height: clamp( 1.5rem , 0.7934782609rem  +  2.8985507246vw , 3rem );
    }
}

@supports not (line-height: clamp( 1.5rem , 0.7934782609rem  +  2.8985507246vw , 3rem )) {
    .subtitle-text {
      line-height: calc(1.5rem + 1.5 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (gap: clamp( 1rem , 0.5878623188rem  +  1.690821256vw , 1.875rem )) {
    .row-boxs {
      gap: clamp( 1rem , 0.5878623188rem  +  1.690821256vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1rem , 0.5878623188rem  +  1.690821256vw , 1.875rem )) {
    .row-boxs {
      gap: calc(1rem + 0.875 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding: clamp( 1.5rem , 1.2644927536rem  +  0.9661835749vw , 2rem )) {
    .row-boxs__item {
      padding: clamp( 1.5rem , 1.2644927536rem  +  0.9661835749vw , 2rem );
    }
}

@supports not (padding: clamp( 1.5rem , 1.2644927536rem  +  0.9661835749vw , 2rem )) {
    .row-boxs__item {
      padding: calc(1.5rem + 0.5 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (gap: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .row-boxs__item {
      gap: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (gap: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .row-boxs__item {
      gap: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .row-boxs__item-subtitle {
      font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .row-boxs__item-subtitle {
      font-size: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 1.5rem , 1.3822463768rem  +  0.4830917874vw , 1.75rem )) {
    .row-boxs__item-subtitle {
      line-height: clamp( 1.5rem , 1.3822463768rem  +  0.4830917874vw , 1.75rem );
    }
}

@supports not (line-height: clamp( 1.5rem , 1.3822463768rem  +  0.4830917874vw , 1.75rem )) {
    .row-boxs__item-subtitle {
      line-height: calc(1.5rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6983695652rem  +  0.7246376812vw , 1.25rem )) {
    .row-boxs__item-text {
      font-size: clamp( 0.875rem , 0.6983695652rem  +  0.7246376812vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6983695652rem  +  0.7246376812vw , 1.25rem )) {
    .row-boxs__item-text {
      font-size: calc(0.875rem + 0.375 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 1.25rem , 1.0144927536rem  +  0.9661835749vw , 1.75rem )) {
    .row-boxs__item-text {
      line-height: clamp( 1.25rem , 1.0144927536rem  +  0.9661835749vw , 1.75rem );
    }
}

@supports not (line-height: clamp( 1.25rem , 1.0144927536rem  +  0.9661835749vw , 1.75rem )) {
    .row-boxs__item-text {
      line-height: calc(1.25rem + 0.5 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.7572463768rem  +  0.4830917874vw , 1.125rem )) {
    .row-boxs__item-text_info {
      font-size: clamp( 0.875rem , 0.7572463768rem  +  0.4830917874vw , 1.125rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.7572463768rem  +  0.4830917874vw , 1.125rem )) {
    .row-boxs__item-text_info {
      font-size: calc(0.875rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem )) {
    .row-boxs__item-text_info {
      line-height: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem );
    }
}

@supports not (line-height: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem )) {
    .row-boxs__item-text_info {
      line-height: calc(1.25rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6983695652rem  +  0.7246376812vw , 1.25rem )) {
    .row-boxs__item-text-go {
      font-size: clamp( 0.875rem , 0.6983695652rem  +  0.7246376812vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6983695652rem  +  0.7246376812vw , 1.25rem )) {
    .row-boxs__item-text-go {
      font-size: calc(0.875rem + 0.375 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem )) {
    .row-boxs__item-text-go {
      line-height: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem );
    }
}

@supports not (line-height: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem )) {
    .row-boxs__item-text-go {
      line-height: calc(1.25rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem )) {
    .row-boxs__item-icon-go {
      font-size: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem )) {
    .row-boxs__item-icon-go {
      font-size: calc(1.25rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-top: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .main-btn {
      padding-top: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem );
    }
}

@supports not (padding-top: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .main-btn {
      padding-top: calc(0.5rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .main-btn {
      padding-bottom: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .main-btn {
      padding-bottom: calc(0.5rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-right: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .main-btn {
      padding-right: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .main-btn {
      padding-right: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-left: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .main-btn {
      padding-left: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .main-btn {
      padding-left: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (border-radius: clamp( 0.75rem , 0.6322463768rem  +  0.4830917874vw , 1rem )) {
    .main-btn {
      border-radius: clamp( 0.75rem , 0.6322463768rem  +  0.4830917874vw , 1rem );
    }
}

@supports not (border-radius: clamp( 0.75rem , 0.6322463768rem  +  0.4830917874vw , 1rem )) {
    .main-btn {
      border-radius: calc(0.75rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-right: clamp( 0.625rem , 0.477807971rem  +  0.6038647343vw , 0.9375rem )) {
    .main-btn_w {
      padding-right: clamp( 0.625rem , 0.477807971rem  +  0.6038647343vw , 0.9375rem );
    }
}

@supports not (padding-right: clamp( 0.625rem , 0.477807971rem  +  0.6038647343vw , 0.9375rem )) {
    .main-btn_w {
      padding-right: calc(0.625rem + 0.3125 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-left: clamp( 0.625rem , 0.477807971rem  +  0.6038647343vw , 0.9375rem )) {
    .main-btn_w {
      padding-left: clamp( 0.625rem , 0.477807971rem  +  0.6038647343vw , 0.9375rem );
    }
}

@supports not (padding-left: clamp( 0.625rem , 0.477807971rem  +  0.6038647343vw , 0.9375rem )) {
    .main-btn_w {
      padding-left: calc(0.625rem + 0.3125 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .main-btn__text {
      font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .main-btn__text {
      font-size: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem )) {
    .main-btn__text {
      line-height: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem );
    }
}

@supports not (line-height: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem )) {
    .main-btn__text {
      line-height: calc(1.25rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem )) {
    .main-btn__icon {
      font-size: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem )) {
    .main-btn__icon {
      font-size: calc(1.25rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-top: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .close-btn {
      padding-top: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem );
    }
}

@supports not (padding-top: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .close-btn {
      padding-top: calc(0.5rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .close-btn {
      padding-bottom: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .close-btn {
      padding-bottom: calc(0.5rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-right: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .close-btn {
      padding-right: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .close-btn {
      padding-right: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-left: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .close-btn {
      padding-left: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .close-btn {
      padding-left: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (border-radius: clamp( 0.75rem , 0.6322463768rem  +  0.4830917874vw , 1rem )) {
    .close-btn {
      border-radius: clamp( 0.75rem , 0.6322463768rem  +  0.4830917874vw , 1rem );
    }
}

@supports not (border-radius: clamp( 0.75rem , 0.6322463768rem  +  0.4830917874vw , 1rem )) {
    .close-btn {
      border-radius: calc(0.75rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-top: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .submit-btn {
      padding-top: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem );
    }
}

@supports not (padding-top: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .submit-btn {
      padding-top: calc(0.5rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .submit-btn {
      padding-bottom: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .submit-btn {
      padding-bottom: calc(0.5rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-right: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .submit-btn {
      padding-right: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .submit-btn {
      padding-right: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-left: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .submit-btn {
      padding-left: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .submit-btn {
      padding-left: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (border-radius: clamp( 0.75rem , 0.6322463768rem  +  0.4830917874vw , 1rem )) {
    .submit-btn {
      border-radius: clamp( 0.75rem , 0.6322463768rem  +  0.4830917874vw , 1rem );
    }
}

@supports not (border-radius: clamp( 0.75rem , 0.6322463768rem  +  0.4830917874vw , 1rem )) {
    .submit-btn {
      border-radius: calc(0.75rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-top: clamp( 1.5rem , -0.1485507246rem  +  6.7632850242vw , 5rem )) {
    .header {
      padding-top: clamp( 1.5rem , -0.1485507246rem  +  6.7632850242vw , 5rem );
    }
}

@supports not (padding-top: clamp( 1.5rem , -0.1485507246rem  +  6.7632850242vw , 5rem )) {
    .header {
      padding-top: calc(1.5rem + 3.5 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .header {
      padding-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .header {
      padding-bottom: calc(1.5rem + 6 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .menu__body-link-static {
      font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .menu__body-link-static {
      font-size: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem )) {
    .menu__body-link-static {
      line-height: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem );
    }
}

@supports not (line-height: clamp( 1.25rem , 1.1322463768rem  +  0.4830917874vw , 1.5rem )) {
    .menu__body-link-static {
      line-height: calc(1.25rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-top: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .menu__body-link-static {
      padding-top: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem );
    }
}

@supports not (padding-top: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .menu__body-link-static {
      padding-top: calc(0.5rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-bottom: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .menu__body-link-static {
      padding-bottom: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem );
    }
}

@supports not (padding-bottom: clamp( 0.5rem , 0.3822463768rem  +  0.4830917874vw , 0.75rem )) {
    .menu__body-link-static {
      padding-bottom: calc(0.5rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-right: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .menu__body-link-static {
      padding-right: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (padding-right: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .menu__body-link-static {
      padding-right: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-left: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .menu__body-link-static {
      padding-left: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (padding-left: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .menu__body-link-static {
      padding-left: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (border-radius: clamp( 0.75rem , 0.6322463768rem  +  0.4830917874vw , 1rem )) {
    .menu__body-link-static {
      border-radius: clamp( 0.75rem , 0.6322463768rem  +  0.4830917874vw , 1rem );
    }
}

@supports not (border-radius: clamp( 0.75rem , 0.6322463768rem  +  0.4830917874vw , 1rem )) {
    .menu__body-link-static {
      border-radius: calc(0.75rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .develops {
      padding-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .develops {
      padding-bottom: calc(1.5rem + 6 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (gap: clamp( 1rem , 0.0579710145rem  +  3.8647342995vw , 3rem )) {
    .develops__content {
      gap: clamp( 1rem , 0.0579710145rem  +  3.8647342995vw , 3rem );
    }
}

@supports not (gap: clamp( 1rem , 0.0579710145rem  +  3.8647342995vw , 3rem )) {
    .develops__content {
      gap: calc(1rem + 2 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-top: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .platform {
      padding-top: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .platform {
      padding-top: calc(1.5rem + 6 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .platform {
      padding-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .platform {
      padding-bottom: calc(1.5rem + 6 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (margin-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .platform {
      margin-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .platform {
      margin-bottom: calc(1.5rem + 6 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.3229166667rem  +  2.7777777778vw , 2.4375rem )) {
    .platform__subtitle {
      margin-bottom: clamp( 1rem , 0.3229166667rem  +  2.7777777778vw , 2.4375rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.3229166667rem  +  2.7777777778vw , 2.4375rem )) {
    .platform__subtitle {
      margin-bottom: calc(1rem + 1.4375 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (margin-bottom: clamp( 1rem , 0.2934782609rem  +  2.8985507246vw , 2.5rem )) {
    .platform__text-box {
      margin-bottom: clamp( 1rem , 0.2934782609rem  +  2.8985507246vw , 2.5rem );
    }
}

@supports not (margin-bottom: clamp( 1rem , 0.2934782609rem  +  2.8985507246vw , 2.5rem )) {
    .platform__text-box {
      margin-bottom: calc(1rem + 1.5 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 0.875rem , 0.6983695652rem  +  0.7246376812vw , 1.25rem )) {
    .platform__text {
      font-size: clamp( 0.875rem , 0.6983695652rem  +  0.7246376812vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 0.875rem , 0.6983695652rem  +  0.7246376812vw , 1.25rem )) {
    .platform__text {
      font-size: calc(0.875rem + 0.375 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 1.25rem , 1.0144927536rem  +  0.9661835749vw , 1.75rem )) {
    .platform__text {
      line-height: clamp( 1.25rem , 1.0144927536rem  +  0.9661835749vw , 1.75rem );
    }
}

@supports not (line-height: clamp( 1.25rem , 1.0144927536rem  +  0.9661835749vw , 1.75rem )) {
    .platform__text {
      line-height: calc(1.25rem + 0.5 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (gap: clamp( 1rem , 0.5878623188rem  +  1.690821256vw , 1.875rem )) {
    .row-platform {
      gap: clamp( 1rem , 0.5878623188rem  +  1.690821256vw , 1.875rem );
    }
}

@supports not (gap: clamp( 1rem , 0.5878623188rem  +  1.690821256vw , 1.875rem )) {
    .row-platform {
      gap: calc(1rem + 0.875 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding: clamp( 1.5rem , 1.2644927536rem  +  0.9661835749vw , 2rem )) {
    .row-platform__item {
      padding: clamp( 1.5rem , 1.2644927536rem  +  0.9661835749vw , 2rem );
    }
}

@supports not (padding: clamp( 1.5rem , 1.2644927536rem  +  0.9661835749vw , 2rem )) {
    .row-platform__item {
      padding: calc(1.5rem + 0.5 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (margin-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .info-row-boxs {
      margin-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .info-row-boxs {
      margin-bottom: calc(1.5rem + 6 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (margin-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .company {
      margin-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem );
    }
}

@supports not (margin-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .company {
      margin-bottom: calc(1.5rem + 6 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .company__text {
      font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.8822463768rem  +  0.4830917874vw , 1.25rem )) {
    .company__text {
      font-size: calc(1rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (line-height: clamp( 1.5rem , 1.3822463768rem  +  0.4830917874vw , 1.75rem )) {
    .company__text {
      line-height: clamp( 1.5rem , 1.3822463768rem  +  0.4830917874vw , 1.75rem );
    }
}

@supports not (line-height: clamp( 1.5rem , 1.3822463768rem  +  0.4830917874vw , 1.75rem )) {
    .company__text {
      line-height: calc(1.5rem + 0.25 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-top: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .stay-tuned {
      padding-top: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .stay-tuned {
      padding-top: calc(1.5rem + 6 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (padding-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .stay-tuned {
      padding-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem );
    }
}

@supports not (padding-bottom: clamp( 1.5rem , -1.3260869565rem  +  11.5942028986vw , 7.5rem )) {
    .stay-tuned {
      padding-bottom: calc(1.5rem + 6 * (100vw - 24.375rem) / 51.75);
    }
}

@supports (margin-top: clamp( 1rem , 0.2934782609rem  +  2.8985507246vw , 2.5rem )) {
    .stay-tuned__row-info {
      margin-top: clamp( 1rem , 0.2934782609rem  +  2.8985507246vw , 2.5rem );
    }
}

@supports not (margin-top: clamp( 1rem , 0.2934782609rem  +  2.8985507246vw , 2.5rem )) {
    .stay-tuned__row-info {
      margin-top: calc(1rem + 1.5 * (100vw - 24.375rem) / 51.75);
    }
}
}

@media (min-width: 24.375em) and (max-width: 61.9375em) {
@supports (width: clamp( 5.8125rem , 2.6895798669rem  +  12.8119800333vw , 10.625rem )) {
    .header__logo img {
      width: clamp( 5.8125rem , 2.6895798669rem  +  12.8119800333vw , 10.625rem );
    }
}

@supports not (width: clamp( 5.8125rem , 2.6895798669rem  +  12.8119800333vw , 10.625rem )) {
    .header__logo img {
      width: calc(5.8125rem + 4.8125 * (100vw - 24.375rem) / 37.5625);
    }
}
}

@media (any-hover: hover) {
  .row-boxs__item-link-go:hover .row-boxs__item-text-go {
    color: #383863;
  }

  .row-boxs__item-link-go:hover .row-boxs__item-text-go::after {
    background-color: #383863;
  }

  .row-boxs__item-link-go:hover .row-boxs__item-icon-go {
    color: #383863;
  }

  .row-boxs__item-email:hover {
    color: #383863;
  }

  .row-boxs__item-phone:hover {
    color: #383863;
  }

  .row-boxs__item-link:hover .row-boxs__item-link-text {
    color: #383863;
  }

  .row-boxs__item-link:hover .row-boxs__item-link-icon {
    color: #383863;
  }

  .box-item__first-accent .main-btn:hover {
    background-color: #8282ed;
  }

  .box-item__fourth-accent .main-btn:hover {
    background-color: #8e7c6c;
  }

  .box-item__fourth-accent .main-btn_download:hover {
    background-color: #e39e64;
  }

  .main-btn:hover {
    background-color: #7474a5;
  }

  .main-btn:hover .main-btn__text {
    color: #fff;
  }

  .main-btn:hover .main-btn__icon {
    color: #fff;
  }

  .close-btn:hover {
    background-color: #e2e2ee;
  }

  .submit-btn:hover {
    background-color: #8282ed;
  }

  .menu__body-link-static:hover {
    background-color: #e2e2ee;
  }
}